@use "sass:map";
@use "../abstracts" as *;

html {
  box-sizing: border-box;

/* Target Blink and Webkit Engine */
-webkit-font-smoothing: antialiased;

/* Target Gecko Engine */
-moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: $font-stack-body;
  font-size: 16px;
  line-height: 1.6;
  color: map.get($color-neutral, 500);
  background-color: $color-white;
}

a {
  text-decoration: none;
  font-weight: 500;
}

h1, h2, h3 {
  font-family: $font-stack-heading;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 22px;
}


@include breakpoint(md) {
  h1 { 
    font-size: 60px;
  }
  h2 { 
    font-size: 50px;
  }
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}

hr {
  border: none;
  height: 1px;
  background-color: map.get($color-neutral, 200);
  margin-bottom: 24px;
}

summary {
  display: block; /* Menghilangkan panah di Firefox & browser modern */
  list-style: none; /* Menghilangkan penanda daftar bawaan */
}

/* Khusus browser berbasis WebKit (Chrome, Safari, Edge lama) */
summary::-webkit-details-marker {
  display: none;
}