@use "sass:map";
@use "../abstracts/" as *;


.client-hero {
  padding-top: 62px;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), 
    url('../img/client.jpg') center / cover no-repeat;
  color: $color-white;

  &__inner {
    padding: 153px 0;

    @include breakpoint(md) {
      padding: 143px 0;
    }
  }
    
  &__content {
    max-width: 592px;
    text-align: center;
    
    @include breakpoint(md) {
      text-align: left; 
    }
  }

  &__title {
    margin-bottom: 18px;
    font-weight: 600;
  }
}

// Section Client Left
.section-client {
  text-align: center;

  @include breakpoint(md) {
    text-align: left;
  }

  &__content {
    padding-top: 32px;

    @include breakpoint(md) {
      padding-top: 0;
    }
  }

  &__photo {
   border-radius: 0 20px 20px 0;
  }

  &__desc {
    margin-bottom: 12px;
    line-height: 1.8;
  }
}


// Section Client right 
.client-right {
  &__content {
      text-align: center;
      @include breakpoint(md) {
        text-align: left;
      }
    }
  &__description {
    color: map.get($color-neutral, 500);
    margin-bottom: 24px;
  }

  &__image {
    object-fit: cover;
    border-radius: 20px 0 0 20px;
  }
}